<h1 class="mt-5">Agregar producto</h1>
<hr>


<form [formGroup]="miFormulario">
    <div class="row g-3 mb-3 align-items-center">
        <div class="col-auto">
            <label class="col-form-label">Nombre: </label>
        </div>
        <div class="col-auto">
            <input type="text"
                    formControlName="nombre" 
                    class="form-control">
        </div>
        <div class="col-auto">
            <span   error-msg
            [color]="color"
            [mensaje]="mensaje"
            [valido]="!tieneError('nombre')">
                
            </span>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-primary"
                    (click)="cambiarMensaje()">
                Guardar
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-primary"
                    (click)="cambiarColor()">
                Cambiar color
            </button>
        </div>
    </div>
</form>



<h3 class="mt-4" error-msg color="pink" >Formulario</h3>


<pre>   Valid : {{ miFormulario.valid }}</pre>
<pre>   Valid : {{ miFormulario.value | json }}</pre>




<div class="row mt-5" 
    *appCustomIf="miFormulario.valid"    >
    <div class="col">
        <div class="alert alert-primary">
            todo Ok
        </div>
    </div>
</div>